<div class="login-page">
  <div class="card card-outline card-danger" style="width:50%">
          <div class="login-logo">
              <a>Welcome to <b>DMK Engineers Wing</b> Portal</a>
                <div><img src="assets/dmk.png" alt="Logo" class="" style="opacity: .8;width: 80px;">
                </div>
                <div [hidden]="content_hidden">
                  <h2 class="my-3">This page has been expired</h2>
                <a [routerLink]="['']" style="margin:auto" class="btn btn-block btn-danger col-3 text-white">Back to Login</a>
                </div>
          </div>
          <div class="card-body login-card-body " [hidden]="form_hidden">
            <form [formGroup]='resetpassword' (ngSubmit)="postdata(resetpassword)" >
              <div class="row ml-4">
                 <div>
                    <div class="form-group row">
                      <label>New Password</label>
                      <input type="password" name="password" formControlName="password" class="form-control">
                    </div>
                    <div class="form-group row">
                      <label>Confirm Password</label>
                      <input type="password" formControlName="cpassword" name="cpassword" class="form-control" >
                    </div>
                  </div>
              </div>
              <div class="ml-4">
                <button class="btn btn-block btn-danger col-3">Submit</button>
              </div>
            </form>
          </div>

  </div>
  </div>