<div class="login-page">
  <div class="card card-outline card-danger" style="width:50%">
          <div class="login-logo">
              <a>Welcome to <b>DMK Engineers Wing</b> Portal</a>
                <div><img src="assets/dmk.png" alt="Logo" class="" style="opacity: .8;width: 80px;">
                </div>
          </div>
          <div class="card-body login-card-body ">
            <form [formGroup]='sendmail' (ngSubmit)="postdata(sendmail)" >
              <div class="row ml-4">
                 <div class="form-group row">
                      <label>Enter Your Registered Mail Id</label>
                      <input type="email" formControlName="email" class="form-control ps-2"  formControlName="email" (keyup)="getemail(sendmail.get('email').value)">
                      <div  class="invalid-msg" *ngIf="test_email=='false' && sendmail.get('email').value !='' && sendmail.get('email').status=='VALID'">This email is  doesn't exist and please enter valid email.</div>
                 </div>
                    <!-- <div class="form-group row">
                      <label>New Password</label>
                      <input type="password" name="password" formControlName="password" class="form-control">
                    </div>
                    <div class="form-group row">
                      <label>Confirm Password</label>
                      <input type="password" formControlName="email" class="form-control"  formControlName="email">
                    </div> -->
           </div>
            <div class="ml-4">
                <button class="btn btn-block btn-danger col-3" [disabled]="btnDisable">Submit</button>
            </div>
            </form>
          </div>
          
  </div>
  </div>