<div>
<div class="login-page" style="padding:10px">
  <div class="card card-outline card-danger" style="width:auto;"> <!--width change--> 
          <div class="login-logo" style="padding:20px">
            <a _ngcontent-iky-c58="" style="display: block; text-align: center;">
              Welcome to <b _ngcontent-iky-c58="" style="display: inline-block;">DMK Engineers Wing</b> Portal
            </a>   <!--c9--> 
                <div><img src="assets/dmk.png" alt="Logo" class="" style="width: 80px;">
                </div>
          </div>
          <div class="card-body login-card-body ">
            <form [formGroup]='sendmail' (ngSubmit)="postdata(sendmail)" >
              <div >
                <div class="form-group">
                  <label><h5>Enter Your Registered Mail Id</h5></label>
                      <input type="email" formControlName="email" class="form-control ps-2"  formControlName="email" (keyup)="getemail(sendmail.get('email').value)" style="width:80%;" >
                      <div  class="invalid-msg" *ngIf="test_email=='false' && sendmail.get('email').value !='' && sendmail.get('email').status=='VALID'">This email is  doesn't exist and please enter valid email.</div>
                 </div>
                    <!-- <div class="form-group row">
                      <label>New Password</label>
                      <input type="password" name="password" formControlName="password" class="form-control">
                    </div>
                    <div class="form-group row">
                      <label>Confirm Password</label>
                      <input type="password" formControlName="email" class="form-control"  formControlName="email">
                    </div> -->
                    <div>
                      <button class="btn btn-block btn-danger col-4">Submit</button>
                    </div>
              </div>
            
            
            </form>
          </div>
          
  </div>
  </div>
</div>