<div class="container-fluid" >
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between flex-wrap">
            <h4 class="m-0 font-weight-bold text-dark">CREATE OFFICE BEARERS</h4>
                <button type="button" class="btn btn-facebook btn-block col-2" data-toggle="modal" data-target="#myModal">
                    Add
                  </button>
        </div>

                  <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                  
                        <div class="card" style="width:100%;height:100%">
                            <div class="container-fluid">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create Office Bearers</h1>
                                </div>
                                <div class="text-center">
                                   
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <p class="p text-gray-900 mb-3">Corporation District / கழக மாவட்டம் : Salem</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="p text-gray-900 mb-3">Assembly Constituency / சட்டமன்ற தொகுதி : Salem North</p>
                                    </div>
                                </div>
            
                                <!-- Page Heading -->
                                <form class="user">
            
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control" id="exampleInputEmail"
                                            placeholder="Name / பெயர்">
                                    </div>
            
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="number" class="form-control form-control" id="exampleFirstName"
                                                placeholder="Age / வயது">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="date" class="form-control form-control" id="exampleLastName"
                                                placeholder="Date of Birth / பிறந்த தேதி">
                                        </div>
                                    </div>
            
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control" id="exampleInputEmail"
                                            placeholder="Father Name / தந்தை பெயர்">
                                    </div>
            
                                    <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control" id="exampleFirstName"
                                            placeholder="Degree / கல்வித் தகுதி">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control" id="exampleLastName"
                                            placeholder="Additional Degree / சிறப்பு தகுதி">
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control" id="exampleFirstName"
                                            placeholder="Phone Number / அலைபேசி எண்">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control" id="exampleLastName"
                                            placeholder="Whatsapp Number / வாட்சப் எண்">
                                    </div>
                                </div>
                                
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control" id="exampleInputEmail"
                                            placeholder="Email Address / மின்னஞ்சல் முகவரி">
                                    </div>
                                   
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control" id="exampleInputEmail"
                                            placeholder="Profession / தொழில், வேலை">
                                    </div>
            
                                    <div class="form-group">
                                        <textarea  type="textarea" class="form-control form-control" id="exampleInputEmail"
                                            placeholder="Address / முகவரி"></textarea>
                                    </div>
            
                                    <div class="form-group">
                                        <p>Responsibility For Applying /விண்ணப்பிக்கும் பொறுப்பு</p>
                                    <div class="form-check form-check-inline">
                                        
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">மாவட்ட அமைப்பாளர்</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">மாவட்ட துணை அமைப்பாளர்</label>
                                      </div><br>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">ஒன்றிய அமைப்பாளர்</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">ஒன்றிய துணை அமைப்பாளர்</label>
                                      </div><br>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">நகர அமைப்பாளர்</label>
                                      </div> 
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">நகர துணை அமைப்பாளர்</label>
                                      </div><br>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">பகுதி அமைப்பாளர்</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">பகுதி துணை அமைப்பாளர்</label>
                                      </div><br>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">ஊரக அமைப்பாளர்</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">ஊரக துணை அமைப்பாளர்</label>
                                      </div><br>
                                    </div>
            
                                    <div class="form-group">
                                        <textarea  type="text" class="form-control form-control" id="exampleInputEmail"
                                            placeholder="Comments / திமுக மாவட்ட அலுவலக குறிப்பு"></textarea>
                                    </div>
                                </form>
                                <div class="col-3 py-2" style="margin-left:36%;">
                                    <a  class="btn btn-primary btn btn-block">
                                        Create Office Bearer
                                    </a>
                                </div>
                                
                            </div>
                                        
                        </div>
                      </div>
                    </div>
                </div>
        
        


    
        


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="" datatable  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>District</th>
                            <th>Status</th>
                            <th>Email</th>
                            <th>Show</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot> -->
                    <tbody>
                        <tr>
                            <td>Ramesh</td>
                            <td>District Secretary</td>
                            <td>Salem</td>
                            <td>Active</td>
                            <td>ramesh34@gmail.com</td>
                            <td><a href="#" class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-flag"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-check"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a></td>
                            
                        </tr>
                        <tr>
                            <td>Suresh</td>
                            <td>District Secretary</td>
                            <td>Coimbatore</td>
                            <td>No-Active</td>
                            <td>suresh2.KgK@gmail.com</td>
                            <td><a href="#" class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-flag"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-check"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>Rajesh</td>
                            <td>District Secretary</td>
                            <td>Trichy</td>
                            <td>Active</td>
                            <td>rajesh.0508@gmail.com</td>
                            <td><a href="#" class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-flag"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-check"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>Boopathi</td>
                            <td>Secretary</td>
                            <td>Perambalur</td>
                            <td>Active</td>
                            <td>boopathi839@gmail.com</td>
                            <td><a href="#" class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-flag"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-check"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a></td>
                        </tr>
                        <tr>
                                <td>kalaiyarasan</td>
                            <td>District Secretary</td>
                            <td>Ariyalur</td>
                            <td>Active</td>
                            <td>kalaiyarasan5734@gmail.com</td>
                            <td><a href="#" class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-flag"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-check"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>Ashock kumar</td>
                            <td>Secretary</td>
                            <td>Chennai</td>
                            <td>No-Active</td>
                            <td>ashockk07@gmail.com</td>
                            <td><a href="#" class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-flag"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-check"></i>
                            </a></td>
                            <td><a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
